.web_name
{
    font-size: 3.5rem;
    font-weight: 600;
    color: #9376E0;
    margin-left:21%;
}
.web_name_details
{
    font-size: 1.2rem;
    color: rgb(148, 148, 148);
    margin-left: 21.3%;
    margin-top: -51px;
}
.container_home
{
    height: auto;
    width: auto;
    /* background-color: red; */
    position: relative;
    top: 10px;
    margin-left: 8.5%;
    margin-right: 8.5%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}
.outer_container_home
{
    cursor: pointer;
    height: 180px;
    width: 260px;
    /* background-color: blue;   */
    border-radius: 5px;
    border: solid 1px rgb(190, 190, 190);
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    text-align: center;
    color: rgb(131, 131, 131);
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 20px;
    margin-right: 20px;
    padding-right: 10px;
    padding-left: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Nunito', sans-serif;
}
.outer_container_home:hover
{
    transition: 0.1s linear;
    scale: 1.03;
}
.inner_container_home
{
    height: 55px;
    width: 280px;
    background-color: rgb(224, 222, 222);
    border-bottom: solid 1px rgb(190, 190, 190);
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    text-align: center;
    /* padding-top: 15px; */
    font-size: 1.45rem;
    font-weight: 600;
    color: rgb(113, 113, 113);
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Nunito', sans-serif;
}
.overall_parent
{
    z-index: 2;
    position: absolute;
    top: 0;
}
.back_img
{
    width: 98.9vw;
    opacity: 0.3;
}