.pass_head
{
    font-size: 3.3rem;
    color: rgb(89, 89, 255);
    margin-left:4.9%;
    margin-right:5%;
    margin-top: 30px;
    margin-bottom: 70px;
}
.pass_details
{
    max-width: 620px;
    font-size: 1.2rem;
    color: rgb(148, 148, 148);
    margin-left: 5%;
    margin-top: -45px;
}
.parent_password
{
    height: auto;
    width: auto;
    display: flex;
    flex-direction: column;
    /* background-color: red; */
    position: relative;
    top: 25px;
    padding-left: 5%;
    padding-right: 20px;
}
.length
{
    font-size: 1.25rem;
    color: rgb(87, 87, 87);
}
.length_box
{
    height: 22px;
    width: 50px;
    margin-left: 5px;
    border:solid 2px grey;
    border-radius: 4px;
    padding-left: 5px;
}
.checkbox{
    height: 17px;
    width: 17px;
    background-color: red;
}
.label_checkbox
{
    font-size: 1.1rem;
    color: rgb(67, 67, 67);
    margin-left: 8px;
}
.generate
{
    cursor: pointer;
    height: 51px;
    width:208px;
    font-weight: 600;
    font-size: 1.15rem;
    background-color: rgb(36, 104, 188);
    color: white;
    border:none;
    border-radius: 2px;
    margin-top: -2px;
    margin-left: 1px;
}
.result
{
    height: auto;
    width: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    position: relative;
    top:-21px;
}
.generated
{
    display: none;
    font-size: 1.3rem;
    color: rgb(56, 56, 56);
}
#password_output
{
    margin-left: 15px;
    font-size: 1.3rem;
    color: rgb(111, 111, 111);
}