.row_div
{
    display: flex;
    flex-direction: row;
    margin-bottom: -7px;
}
.pass_head
{
    font-size: 2.3rem;
    color: #9376E0;
    font-weight: 600;
    margin-left:4.9%;
    margin-right:5%;
    margin-top: 30px;
    /* margin-bottom: 10px; */
}
.pass_details
{
    font-family: 'Nunito', sans-serif;
    font-weight: 500;
    max-width: 720px;
    font-size: 1.17rem;
    color: rgb(139, 139, 139);
    margin-left: 5%;
    margin-top: -25px;
}
.parent_pass_back
{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
   
}
.parent_password
{
    height: auto;
    width: auto;
    display: flex;
    flex-direction: column;
    /* background-color: red; */
    position: relative;
    top: 25px;
    padding-left: 5%;
    padding-right: 20px;
}
.length
{
    font-size: 1.22rem;
    font-weight: 600;
    color: rgb(95, 95, 95);
}
.length_box
{
    height: 30px;
    width: 60px;
    margin-left: 10px;
    border:solid 1px grey;
    border-radius: 4px;
    padding-left: 10px;
    position: relative;
    top: -2px;
    font-size: 1.06rem;
    color: rgb(78, 78, 78);
}
.checkbox{
    height: 18px;
    width: 18px;
    /* background-color: red; */
    position: relative;
    top: 2.5px;
}
.label_checkbox
{
    font-family: 'Nunito', sans-serif;
    font-weight: 500;
    font-size: 1.15rem;
    color: rgb(97, 97, 97);
    margin-left: 8px;
}
.generate
{
    cursor: pointer;
    height: 45px;
    width:210px;
    font-weight: 600;
    font-size: 1.15rem;
    background-color: #9376E0;
    color: white;
    border:none;
    border-radius: 4px;
    margin-top: -2px;
    margin-left: 1px;
}
.result
{
    height: auto;
    width: auto;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    position: relative;
    top:154px;
}
.generated
{
    /* display: none; */
    font-size: 1.22rem;
    font-weight: 600;
    color: rgb(95, 95, 95);
    margin-bottom: 7px;
    position: relative;
    left: -36px;
}
#password_output
{
    border: solid 1px rgb(189, 189, 189);
    border-radius: 5px;
    font-family: 'Nunito', sans-serif;
    overflow-y: auto;
    max-height: 100px;
    max-width: 320px;
    resize: none;
    padding: 10px;
    font-size: 1.1rem;
    color: rgb(116, 116, 116);
    margin-bottom: 20px;
    margin-left: 55px;
    margin-top: 5px;
}
.back_button
{
    cursor: pointer;
    opacity: 0.6;
    position: absolute;
    top:45px;
    left: 23px;
}