.parent_des
{
    display: flex;
    flex-direction: column;
    /* align-items: center; */
}
.en_de_div_back
{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.in_en_de_des
{
    display: flex;
    flex-direction: column;
    margin-left: 20px;
    margin-right: 20px;
}
.des_head
{
    
    color: rgb(116, 116, 116);
    font-size: 2rem;
    /* text-align: center; */
    margin-left: 14.4%;
    
}
.des_en_de_head
{
    font-family: 'Poppins', sans-serif;
    margin-top: 0px;
    font-size: 1.7rem;
    color: rgb(116, 116, 116);
    margin-bottom: 10px;
}
.desc_des
{
    font-family: 'Nunito', sans-serif;
    font-size: 1.02rem;
    max-width: 520px;
    color: rgb(159, 159, 159);  
    margin-bottom: 30px;
}
.label
{
    font-family: 'Nunito', sans-serif;
    font-size: 1.2rem;
    font-weight: 500;
    color: rgb(83, 83, 83);
    margin-bottom: 8px;
}
.box_input
{
    border: solid 1px rgb(189, 189, 189);
    border-radius: 5px;
    font-family: 'Nunito', sans-serif;
    overflow-y: auto;
    max-height: 100px;
    max-width: 395px;
    resize: none;
    padding: 10px;
    font-size: 1.1rem;
    color: rgb(116, 116, 116);
    margin-bottom: 20px;
    margin-right: 5px;
    margin-top: 5px;    
}
.simple_input
{
    height: 37px;
    max-width: 395px;
    padding-left: 10px;
    border: solid 1.5px rgb(193, 188, 188);
    border-radius: 5px;
    font-size: 0.98rem;
    color: rgb(116, 116, 116);
    margin-bottom: 20px;
}
.output_des
{
    font-family: 'Nunito', sans-serif;
    height: 45px;
    width: 280px;
    margin-top: 15px;
    margin-bottom: 10px;
    border:none;
    background-color: #9376E0;
    color: white;
    font-size: 1.1rem;
    font-weight: 500;
    border-radius: 4px;
}
.simple2
{
    max-width: 408px;
}
.label2
{
    font-weight: 600;
    color: rgb(58, 58, 58);
}
.des_head_desc
{
    font-family: 'Nunito', sans-serif;
    font-size: 1.15rem;
    max-width: 790px;
    /* text-align: center; */
    margin-left: 14.5%;
    margin-right: 14%;
    font-weight: 500;
    color: rgb(154, 154, 154);
    margin-top: -7px;
}